src/base/database.properties
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.csv
manifest.mf
nbbuild.mf
nbbuild.xml
nbproject/
database*
build.xml
*rafael.txt