<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
     <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ConnectionFilter</filter-name>
        <filter-class>interfaceweb.filters.ConnectionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConnectionFilter</filter-name>
        <url-pattern>/WorkloadTableServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ConnectionFilter</filter-name>
        <url-pattern>/JsonServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>WorkloadTableServlet</servlet-name>
        <servlet-class>interfaceweb.controller.servlets.WorkloadTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>interfaceweb.controller.servlets.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkloadTableServlet</servlet-name>
        <url-pattern>/WorkloadTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/JsonServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>ServletIqt</servlet-name>
        <servlet-class>
            servlets.ServletIqt
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletIqt</servlet-name>
        <url-pattern>/ServletIqt</url-pattern>
    </servlet-mapping>

</web-app>
