
@media(max-width : 993px){
    #teste.row{
        height: auto;
        padding-top: 20px;
        overflow: none;
    }
}

#teste-div{
    height: 100%;
    overflow: hidden;
}

/*Tags Gerais*/

.navbar{
	margin-bottom: 0;
	border-top: 5px solid #7CB5EC;
	text-transform: uppercase;
    color: #A3A3A3;
}

p{
    margin-left: -20px;
    margin-top: 9px;
    font-size: 22px;
}

img{
    margin-top: -30px;
    height: 80px;
}

html{
    margin-top: 30px;
}

body{
    background: #EEEEEE;   
}

.row{
    padding-top: 15px;   
}
/*Estilo dos Formularios e componentes*/
#teste.row{
    height: 450px;
}
.container{
    width: 98%;
}
.checkbox{
	padding: 25px 25px 0 25px;
	vertical-align: top !important;
    vertical-align: top; 
}
.checkbox label{
	display: block;	
}

.form-group{
    vertical-align: top;
    font-size: 12px;
}

#formulario{
    margin-top: -25px;
    margin-bottom: 10px;
    background: #FFF;
}

.checkbox.fix-order{
    margin-top: -35px;
}

#botoes{
    vertical-align: bottom;
}

label{
	padding-bottom: 10px;
}

/*Estilo dos graficos*/

#grafico-barras{
	height: 50%;
}

#grafico-barras-2{
	height: 50%;
}

#grafico-pizza{
	height: 75%;
}

.texto-pizza{
    width: 25px;
}

#grafico-coluna{
	height: 50%;
    margin-bottom: 15px;
}

#slogan{
    vertical-align: middle;
}

/*Estilo da tabela*/

.tabela{
    overflow: auto;
    height: 100%;
}

table{
    background: #FFF;
}

.tabela-btn{
    text-decoration: none;
}


.collapsing{
 	-webkit-transition:height .01s ease;
  	transition:height .01s ease
}

.hidden-row{
    display: none;
}

thead{
    background-color: #dbdbdb;
}